force-app/main/default/flows/AMC_Expected_Payment_Date_Notification_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_service_team_for_expected_payment_date_three_days_before</name>
        <label>Send email to service team for expected payment date three days before</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>AMC_Invoice_Tracker__c.Expected_Payment_Date_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AMC_Invoice_Tracker__c.Expected_Payment_Date_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>Global Decision</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Three_days_before_Expected_Payment_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Payment_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ThreedaysbeforeexpectedpaymentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_service_team_for_expected_payment_date_three_days_before</targetReference>
            </connector>
            <label>Three days before Expected Payment Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ThreedaysbeforeexpectedpaymentDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Expected_Payment_Date__c} - 3</expression>
    </formulas>
    <interviewLabel>AMC Expected Payment Date Notification flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AMC Expected Payment Date Notification flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expected_Payment_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AMC_Invoice_Tracker__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-25</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
