force-app/main/default/flows/Client_Po_Tracker_Delivery_Due_Date_email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_before_3_days_of_delivery_date</name>
        <label>Send email before 3 days of delivery date</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Client_PO_Tracker__c.Delivery_Due_Date_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Client_PO_Tracker__c.Delivery_Due_Date_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Global_Decision</name>
        <label>Global Decision</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Global_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Due_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>threedaysbefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_before_3_days_of_delivery_date</targetReference>
            </connector>
            <label>Outcome 1 of Global Decision</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>threedaysbefore</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Delivery_Due_Date__c} - 3</expression>
    </formulas>
    <interviewLabel>Client Po Tracker Delivery Due Date email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Po Tracker Delivery Due Date email Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Global_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Delivery_Due_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Client_PO_Tracker__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-24</startDate>
            <startTime>09:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
