force-app/main/default/flows/Exptected_Dispatch_Date_approaching_notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_bafore_three_days</name>
        <label>Send email bafore three days</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Client_PO_Tracker__c.Exptected_Dispatch_Date_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Client_PO_Tracker__c.Exptected_Dispatch_Date_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_email_before_one_day</name>
        <label>send email before one day</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>Client_PO_Tracker__c.Exptected_Dispatch_Date_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Client_PO_Tracker__c.Exptected_Dispatch_Date_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Global_Decision</name>
        <label>Global Decision</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>three_days_before_the_Exptected_Dispatch_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exptected_Dispatch_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>threedayabefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_bafore_three_days</targetReference>
            </connector>
            <label>three days before the  Exptected Dispatch Date</label>
        </rules>
        <rules>
            <name>One_day_before_the_Exptected_Dispatch_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exptected_Dispatch_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>onedaybefore</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Material_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Material_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email_before_one_day</targetReference>
            </connector>
            <label>One day before the  Exptected Dispatch Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>onedaybefore</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Exptected_Dispatch_Date__c} - 3</expression>
    </formulas>
    <formulas>
        <name>threedayabefore</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Exptected_Dispatch_Date__c} - 3</expression>
    </formulas>
    <interviewLabel>Exptected Dispatch Date approaching notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exptected Dispatch Date approaching notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Global_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exptected_Dispatch_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Client_PO_Tracker__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-24</startDate>
            <startTime>09:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
