force-app/main/default/flows/Scheduled_flow_for_Preventive_Maintenance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>one_day_before_date</name>
        <label>one day before date</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <actionName>Preventive_Maintanenace__c.Scheduled_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Preventive_Maintanenace__c.Scheduled_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_before_5_days</name>
        <label>Send email before 5 days</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Preventive_Maintanenace__c.Scheduled_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Preventive_Maintanenace__c.Scheduled_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>threedays_before_date</name>
        <label>threedays before date</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>Preventive_Maintanenace__c.Scheduled_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Preventive_Maintanenace__c.Scheduled_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Global_Decision</name>
        <label>Global Decision</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X5_days_before_Scheduled_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Schedule_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>FivedaysbeforeDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_before_5_days</targetReference>
            </connector>
            <label>5 days before Scheduled Date</label>
        </rules>
        <rules>
            <name>threedaysbefore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Schedule_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>threedaysbeforedate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>threedays_before_date</targetReference>
            </connector>
            <label>threedaysbefore</label>
        </rules>
        <rules>
            <name>Onedaybeforedate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Schedule_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>onedaybeforeschdeduleddate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>one_day_before_date</targetReference>
            </connector>
            <label>Onedaybeforedate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FivedaysbeforeDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Schedule_Date__c} - 5</expression>
    </formulas>
    <formulas>
        <name>onedaybeforeschdeduleddate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Schedule_Date__c} - 1</expression>
    </formulas>
    <formulas>
        <name>threedaysbeforedate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Schedule_Date__c} - 3</expression>
    </formulas>
    <interviewLabel>Scheduled flow for {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled flow for Preventive Maintenance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Global_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <filters>
            <field>Schedule_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Preventive_Maintanenace__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-12</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
